.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 5rem 2rem;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  min-width: 280px;
  background-color: var(--card-background);
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.8rem var(--card-shadow);
  overflow: hidden;
  text-align: left;
  border: 1px solid var(--card-border);
  margin-bottom: 2rem;
}

.card-header {
  height: auto;
  padding: 1rem 0;
  text-align: center;
  color: var(--text-primary);
}

.card-body {
  height: auto;
  min-height: 200px;
}

.card-button {
  background-color: var(--button-primary);
  color: var(--text-light);
  border: none;
  padding: 0.75rem 1.5rem;
  width: auto;
  min-width: 120px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem;
  transition: background-color 0.3s ease;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Assure que l'image couvre toute la zone sans déformation */
}

.card-button:hover {
  background-color: var(--button-hover);
}
