* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Général */
body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; /* Empêche le défilement */
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.page_title h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

/* Contenu principal */
main {
  flex: 1 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 10vh; /* Utilisation de vh au lieu de px */
  height: 80vh; /* Hauteur fixe pour éviter le défilement */
  overflow-y: auto; /* Permet le défilement uniquement dans le contenu principal si nécessaire */
}

/* Footer */
footer {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  padding: 2vh;
  background-color: var(--nav-background);
  color: var(--text-light);
  position: relative;
  z-index: 1;
  margin-top: auto;
  height: 10vh; /* Utilisation de vh au lieu de px */
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: var(--text-light);
  text-decoration: none;
}

footer a:hover {
  color: var(--nav-hover);
  text-decoration: underline;
}

/* DEBUT DU CSS POUR LA BARRE DE RECHERCHE */
/* FIN DU CSS POUR LA BARRE DE RECHERCHE */

/* DEBUT DU CSS POUR LE MENU: ENTREE, PLAT, DESSERT */

/* FIN DU CSS POUR LE MENU: ENTREE, PLAT, DESSERT */

/* DEBUT DU CSS POUR LES IMAGES DANS LES CARDS */

/* FIN DU CSS POUR LES IMAGES DANS LES CARDS */
