* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Général */
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Contenu principal */
main {
  flex: 1 0 auto;
  /* background-color: purple; */
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 80px; /* Ajout d'une marge pour compenser le header fixe */
}

/* Footer */
footer {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: black;
  position: relative;
  z-index: 1;
}

/* DEBUT DU CSS POUR LA BARRE DE RECHERCHE */
/* FIN DU CSS POUR LA BARRE DE RECHERCHE */

/* DEBUT DU CSS POUR LE MENU: ENTREE, PLAT, DESSERT */

/* FIN DU CSS POUR LE MENU: ENTREE, PLAT, DESSERT */

/* DEBUT DU CSS POUR LES IMAGES DANS LES CARDS */

/* FIN DU CSS POUR LES IMAGES DANS LES CARDS */
