body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  margin-top: 15vh;
  padding: 0 2vw;
}

.table-container {
  width: 90%;
  max-width: 1200px;
  background-color: #ddd;
  padding: 2vh;
  border-radius: 1vh;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
}

table {
  width: 100%;
  border-collapse: separate;
  min-width: 800px; /* Largeur minimale pour éviter que le tableau ne devienne trop petit */
}

th,
td {
  padding: 1.5vh;
  text-align: left;
  border-bottom: 0.2vh solid #ccc;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

th {
  background-color: #eee;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  background-color: white;
  border-radius: 1vh;
  text-align: center;
}

svg {
  width: 20px;
  height: 20px;
}

h1 {
  margin-bottom: 2vh;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.button-add {
  background-color: var(--button-primary);
  color: white;
  border: none;
  padding: 0.75vw;
  width: auto;
  min-width: 150px;
  border-radius: 0.8vw;
  cursor: pointer;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  margin-left: 1vw;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.button-add:hover {
  background-color: var(--button-hover);
}

.button-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1vh;
}

/* Media queries pour la responsivité */
@media (max-width: 768px) {
  body {
    margin-top: 20vh;
  }

  .table-container {
    width: 95%;
    padding: 1vh;
  }

  h1 {
    font-size: 20px;
  }

  .button-add {
    padding: 1vh 2vh;
    font-size: 14px;
    min-width: 120px;
  }

  th,
  td {
    padding: 1vh;
    font-size: 14px;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 480px) {
  body {
    margin-top: 25vh;
  }

  h1 {
    font-size: 18px;
  }

  .button-add {
    padding: 0.8vh 1.5vh;
    font-size: 12px;
    min-width: 100px;
  }

  th,
  td {
    padding: 0.8vh;
    font-size: 12px;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}
